* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.cursor{

    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition:0.1s;
    transform : translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
    
}
ul{
    position: relative;
    display: flex;
     flex-direction: column;

     li{
        list-style: none;
        a{
            position:relative;
            display: inline-block;
            margin: 10px 0;
            font-size: 4em;
            text-decoration: none;
            color:#fff;
        }
    }
    li:hover ~ .cursor{
        transition:0.1s;
        transform: scale(5);
    }
   
}
